* {
    padding: 0;
    margin: 0;
}
header h1{
    font-size: 4em;
    text-align: center;
    background-image: linear-gradient(to left, rgb(127, 99, 204), #007c53);
    padding: 20px; 
    color: transparent;
    background-clip: text;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color:rgb(155, 161, 219);
}
.converter form{
    padding: 80px;
    text-align: center;
    font-size: 2.5rem;
    
}
.converter form select{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5rem;
    padding: 15px;
    font-weight: bolder;
    margin-right: 20px;
    margin-left: 15px;
    text-align: center;
}   
#inputNum{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5rem;
    text-align: center;
    padding: 10px;
    margin-right: 15px;
    
}
#button{
    font-size: 2.5rem;
    margin: 50px;
    padding: 15px;
    border-radius: 10px;
 
}